.document {
	--color-text-main: #121314;
	--color-text-alt: #9baacf;
	--color-text-accent: red;

	--color-bg-main: rgb(228, 228, 228);
	--color-bg-alt: rgb(59, 59, 59);
	--color-bg_accent: rgb(255, 255, 255);
}

.switcher__radio {
	filter: invert(0);
}

.switcher__radio:checked {
	filter: invert(1);
}

.switcher__status {
	filter: invert(0);
}
